body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(Princeton_Tigers_logo.png) repeat;
  background-size: 3px;
}

#profilephoto {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#wrapper {
  width: 960px;
  margin: 20px auto;
}

.namedetails {
  color: black;
  font-weight: 600;
  text-align: center;
}

.profilesections {
  color: white;
  font-weight: 600;
  border: 3px inset orange;
  text-align: center;
  background-color: black;
}

#summary {
  color: red;
}

.unicorn {
  color: purple;
}